
.codehilite code, .codehilite pre{
    color:#fdce93;
    background-color:#3f3f3f;
    overflow: auto;
	max-height: 200px;
}
/*.article-content pre {*/
    /*text-indent: 0;*/
    /*background-color: #f8f8f8;*/
    /*border: 1px solid #eee;*/
    /*overflow: auto;*/
    /*max-height: 200px;*/
    /*padding: 8px;*/
    /*font-size: 14px*/
/*}*/
.codehilite .hll{background-color:#222}
.codehilite .c{color:#7f9f7f}
.codehilite .err{color:#e37170;background-color:#3d3535}
.codehilite .g{color:#7f9f7f}
.codehilite .k{color:#f0dfaf}
.codehilite .l{color:#ccc}
.codehilite .n{color:#dcdccc}
.codehilite .o{color:#f0efd0}
.codehilite .x{color:#ccc}
.codehilite .p{color: #ffffff}
.codehilite .cm{color:#7f9f7f}
.codehilite .cp{color:#7f9f7f}
.codehilite .c1{color:#7f9f7f}
.codehilite .cs{color:#cd0000;font-weight:bold}
.codehilite .gd{color:#cd0000}
.codehilite .ge{color:#ccc;font-style:italic}
.codehilite .gr{color:red}
.codehilite .gh{color:#dcdccc;font-weight:bold}
.codehilite .gi{color:#00cd00}
.codehilite .go{color:gray}
.codehilite .gp{color:#dcdccc;font-weight:bold}
.codehilite .gs{color:#ccc;font-weight:bold}
.codehilite .gu{color:purple;font-weight:bold}
.codehilite .gt{color:#0040D0}
.codehilite .kc{color:#dca3a3}
.codehilite .kd{color:#ffff86}
.codehilite .kn{color:#dfaf8f;font-weight:bold}
.codehilite .kp{color:#cdcf99}
.codehilite .kr{color:#cdcd00}
.codehilite .kt{color:#00cd00}
.codehilite .ld{color:#cc9393}
.codehilite .m{color:#8cd0d3}
.codehilite .s{color:#cc9393}
.codehilite .na{color:#9ac39f}
.codehilite .nb{color:#efef8f}
.codehilite .nc{color:#efef8f}
.codehilite .no{color:#ccc}
.codehilite .nd{color:#ccc}
.codehilite .ni{color:#c28182}
.codehilite .ne{color:#c3bf9f;font-weight:bold}
.codehilite .nf{color:#efef8f}
.codehilite .nl{color:#ccc}
.codehilite .nn{color:#8fbede}
.codehilite .nx{color:#ccc}
.codehilite .py{color:#ccc}
.codehilite .nt{color:#9ac39f}
.codehilite .nv{color:#dcdccc}
.codehilite .ow{color:#f0efd0}
.codehilite .w{color:#ccc}
.codehilite .mf{color:#8cd0d3}
.codehilite .mh{color:#8cd0d3}
.codehilite .mi{color:#8cd0d3}
.codehilite .mo{color:#8cd0d3}
.codehilite .sb{color:#cc9393}
.codehilite .sc{color:#cc9393}
.codehilite .sd{color:#cc9393}
.codehilite .s2{color:#cc9393}
.codehilite .se{color:#cc9393}
.codehilite .sh{color:#cc9393}
.codehilite .si{color:#cc9393}
.codehilite .sx{color:#cc9393}
.codehilite .sr{color:#cc9393}
.codehilite .s1{color:#cc9393}
.codehilite .ss{color:#cc9393}
.codehilite .bp{color:#efef8f}
.codehilite .vc{color:#efef8f}
.codehilite .vg{color:#dcdccc}
.codehilite .vi{color:#ffffc7}
.codehilite .il{color:#8cd0d3}

/*pre{color:#fdce93;background-color:#3f3f3f}*/
pre .hll{background-color:#222}
pre .c{color:#7f9f7f}
pre .err{color:#e37170;background-color:#3d3535}
pre .g{color:#7f9f7f}
pre .k{color:#f0dfaf}
pre .l{color:#ccc}
pre .n{color:#dcdccc}
pre .o{color:#f0efd0}
pre .x{color:#ccc}
pre .p{color: #ffffff}
pre .cm{color:#7f9f7f}
pre .cp{color:#7f9f7f}
pre .c1{color:#7f9f7f}
pre .cs{color:#cd0000;font-weight:bold}
pre .gd{color:#cd0000}
pre .ge{color:#ccc;font-style:italic}
pre .gr{color:red}
pre .gh{color:#dcdccc;font-weight:bold}
pre .gi{color:#00cd00}
pre .go{color:gray}
pre .gp{color:#dcdccc;font-weight:bold}
pre .gs{color:#ccc;font-weight:bold}
pre .gu{color:purple;font-weight:bold}
pre .gt{color:#0040D0}
pre .kc{color:#dca3a3}
pre .kd{color:#ffff86}
pre .kn{color:#dfaf8f;font-weight:bold}
pre .kp{color:#cdcf99}
pre .kr{color:#cdcd00}
pre .kt{color:#00cd00}
pre .ld{color:#cc9393}
pre .m{color:#8cd0d3}
pre .s{color:#cc9393}
pre .na{color:#9ac39f}
pre .nb{color:#efef8f}
pre .nc{color:#efef8f}
pre .no{color:#ccc}
pre .nd{color:#ccc}
pre .ni{color:#c28182}
pre .ne{color:#c3bf9f;font-weight:bold}
pre .nf{color:#efef8f}
pre .nl{color:#ccc}
pre .nn{color:#8fbede}
pre .nx{color:#ccc}
pre .py{color:#ccc}
pre .nt{color:#9ac39f}
pre .nv{color:#dcdccc}
pre .ow{color:#f0efd0}
pre .w{color:#ccc}
pre .mf{color:#8cd0d3}
pre .mh{color:#8cd0d3}
pre .mi{color:#8cd0d3}
pre .mo{color:#8cd0d3}
pre .sb{color:#cc9393}
pre .sc{color:#cc9393}
pre .sd{color:#cc9393}
pre .s2{color:#cc9393}
pre .se{color:#cc9393}
pre .sh{color:#cc9393}
pre .si{color:#cc9393}
pre .sx{color:#cc9393}
pre .sr{color:#cc9393}
pre .s1{color:#cc9393}
pre .ss{color:#cc9393}
pre .bp{color:#efef8f}
pre .vc{color:#efef8f}
pre .vg{color:#dcdccc}
pre .vi{color:#ffffc7}
pre .il{color:#8cd0d3}
