{% load comment_tags oauth_tags %}
<div class="xld xlda pml mtm mbm" id="comment-table">
    {% for comment in my_comment %}
        <dl id="pmlist_2268797" class="bbda cur1 cl">
            <dd class="m avt">
                {% get_user_avatar_tag user.username user.email as user_info %}
                <div class="newpm_avt" title="有未读消息"></div>
                    <a href="{{ user_info.me_link }}" target="_blank"><img src="/media/{{ user_info.me_avatar }}"></a>
                {% ifnotequal comment.is_read 1 %}
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="color: red"></i>
                {% endifnotequal %}
            </dd>
            <dd class="ptm pm_c">
                <span class="xi2 xw1">您</span>
                {% if comment.parent %}
                    {% confirm_user_webmaster comment.parent.author.nickname comment.parent.author.email as card %}
                        <i class="fa fa-share"></i>
                        <a href="/" target="_blank">『{{ comment.parent.author.nickname }}』</a>
                            {% if card %}[<font color="red" size="3">作者</font>]{% endif %}<br/><br/>
                {% else %}
                        <i class="fa fa-share"></i>
                        <a href="/" target="_blank">『{{ comment.belong.author.username }}』</a>
                    [<font color="red" size="3">作者</font>]<br/><br/>
                {% endif %}
                {{ comment.expression_to_content | safe }} &nbsp;  <br />
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span class="xg1">{{ comment.create_date }}</span> &nbsp;

                <span class="pm_o y">
                    <i class="fa fa-trash" aria-hidden="true" title="删除评论"></i> |
                    <i class="fa fa-check-square" aria-hidden="true" title="标记为已读"></i> |
                    <a href="/">回复</a>
                </span>

            </dd>
        </dl>
        <script type="text/javascript">addBlockLink();</script>
    {% endfor %}
</div>