{% load comment_tags oauth_tags blog_tags humanize %}
<script>
function addBlockLink_notice() {
    if(!$('#deletepmform'))
        return false;var a = $('ul');
    var taglist = {'A':1, 'INPUT':1, 'IMG':1};
    for(var i = 0, len = a.length; i < len; i++) {
        a[i].onmouseover = function () {
            if(this.className.indexOf(' hover') == -1) {
                this.className = this.className + ' hover';
            }};
        a[i].onmouseout = function () {
                    this.className = this.className.replace(' hover', '');
        }
    }
}
</script>

<div class="xld xlda pml mtm mbm" id="comment-table">
    <form id="deletepmform" action="/" method="post" autocomplete="off" name="deletepmform">
       <div>
           <div style="float: left">
               {% get_all_announcement as announcements %}
               {% for announcement in announcements %}
                       <ul style="width: 800px;border: solid 1px #b3b3b3;
            border-top-width: 0px;" >
                           <li>
                               <i class="fa fa-bullhorn" aria-hidden="true" style="float: left;color: red;"></i>
                               {{ announcement.text_to_markdown|safe }}<br>
                               <i class="fa fa-clock-o" aria-hidden="true" style="color: #00a67c;"></i>&nbsp;&nbsp;{{ announcement.add_date|naturaltime }}
                           </li>
                       </ul>
                   <br>

               {% endfor %}

            </div>
       </div>
    </form>
    <script type="text/javascript"> addBlockLink_notice();</script>
</div>