Django==1.11.12
django-haystack==2.8.1
djangorestframework==3.9.2
wheel==0.29.0
django-compressor==2.3
mysqlclient==1.4.2.post1
Markdown==2.6.8
django-imagekit==4.0.1
Pillow==5.4.1
Whoosh==2.7.4
jieba==0.39
django-redis==4.10.0
pyperclip==1.7.0
gunicorn==19.9.0
Pygments==2.4.2
WeRoBot==1.10.1