<script type="text/javascript">
    function forget() {
        $.ajax({
            type: "POST",//方法类型
            url: "/",//url
            dataType: "HTML",
            data: $('#forget-form').serialize(),
            success: function (data) {
                try {
                    var result = JSON.parse(data);
                    if (result.ok == '1') {
                        window.location.reload()  //刷新页面
                    } else {
                        $("#pull-login").html(data);
                    }
                } catch (e) {
                    $("#pull-login").html(data);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>

<div class="{% if forget_error %}modal fade in {% else %} modal fade {% endif %}" id="forget" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="{% if modal %}false{% else %} true {% endif %}"
     style="display: {% if forget_error %}block{% else %}none{% endif %}">
    <div class="modal-dialog" style="width:550px;">
        <div class="modal-content">
            <!--  模态框的头 -->
            <div class="modal-header" style="background-color:#ffffff;">
                {% if forget_error %}
                    <a class="close" data-dismiss="modal" href="{% url 'blog:index' %}">×</a>
                {% else %}
                    <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endif %}
                <h2 class="modal-title" id="myModalLabel" align="center">重置密码</h2>
            </div>
            <div class="modal-body" style="background-color:#ffffff;">
                <!--   以下是登录的form表单 -->
                <form class="form-horizontal" role="form" name="f" id="forget-form" method="POST">
                    {% csrf_token %}
                    {{ test }}
                    {% if forget_error %}
                        <div class="alert alert-block alert-danger">
                            <ul>
                                <li>您提供的用户名或密码不正确。</li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-group" id="div1">
                        <label for="firstname" class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-10" id="user">
                            <input type="text" class="form-control" id="f_username" placeholder="请输入名字"
                                   style="width:300px"
                                   name="username"
                                   class="tooltip-test"
                                   data-toggle="tooltip" data-placement="bottom"
                                   title="请输入6——8位的字母或数字任意组合"
                                   data-trigger="focus"
                            >
                            <label id="n" style="color: red;"></label>
                        </div>
                    </div>
                    <div class="form-group" id="div3">
                        <label for="firstname" class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-10" id="email">
                            <input type="text" class="form-control" id="f_email" placeholder="请输入名字"
                                   style="width:300px"
                                   name="eamil"
                                   class="tooltip-test"
                                   data-toggle="tooltip" data-placement="bottom"
                                   title="请输入邮箱"
                                   data-trigger="focus"
                            >
                            <label id="n" style="color: red;"></label>
                        </div>
                    </div>
                    <input type="hidden" name="fun" value="forget"/>
                    <label style="color: red">由于网站升级，暂时停用</label>
                    <a class="pull-right btn btn-info btn-sm rounded-0" disabled="disabled">重置密码</a>
                </form>
            </div>
            <div class="modal-footer" style="background-color:#ffffff;">
            </div>
        </div>
    </div>
</div>
