{% load staticfiles %}
{% load comment_tags oauth_tags %}
<div id="respond" class="no_webshot">
    <form action="/comment/add/" method="post" id="commentform">
        <div class="comt">
			<div class="comt-box">
                <h3>发表我的评论</h3>
                <div class="card mt-2 rounded-0 border-0" id="comment-block">
                    {% include 'comment/editor.html' %}
                </div>
				<div class="comt-ctrl">
					<button class="btn btn-primary pull-right" type="submit" name="submit" id="push-com" tabindex="5"
                            data-ajax-url="{% url 'comment:add_comment' %}">
                        <i class="fa fa-check-square-o"></i> 提交评论
                    </button>
					<div class="comt-tips pull-right">
                        <input type='hidden' name='comment_post_ID' value='{{ category }}' id='comment_post_ID' />
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' /><p style="display: none;">
                        <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="da9dc5c77a" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="50"/></p>
                    </div>
					<span data-type="comment-insert-smilie" class="muted comt-smilie"><i class="fa fa-smile-o"></i> 表情</span>
				</div>
			</div>

        </div>
	</form>
</div>

<div id="postcomments">

{#{% if category == 'message'%}#}
{#    {% get_comment_user_count category as  user_num %}#}
{#    {% build_comment_tree category request.path as htm %}#}
{#{% elif category == 'about' %}#}
{#    {% get_comment_user_count category as  user_num%}#}
{#    {% build_comment_tree category request.path as htm %}#}
{#{% else %}#}
{#    {% get_comment_user_count category category as  user_num%}#}
{#    {% build_comment_tree category  request.path category as htm %}#}
{#{% endif %}#}
{#<div id="comments">#}
{#		<i class="fa fa-comments-o"></i> <b> ({{ user_num }})</b>个小伙伴在吐槽#}
{#	</div>#}
{#   {{ htm|safe }}#}

{% include 'comment/list.html' %}
<div class="commentnav"	></div>

</div>
