{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load comment_tags oauth_tags blog_tags %}

{% block head_title %}个人信息推送{% endblock %}

{% block head %}
    <style>
    .xld  ul{
        display: block;
    }
    </style>
{#    <link id="css_extstyle" type="text/css" href="{% static 'comment/css/comment.css' %}" rel="stylesheet">#}
    <script language="javascript" type="text/javascript">
        function addBlockLink() {
            if (!$('#deletepmform'))
                return false;
            var a = $('dl');
            var taglist = {'A': 1, 'INPUT': 1, 'IMG': 1};
            for (var i = 0, len = a.length; i < len; i++) {
                a[i].onmouseover = function () {
                    if (this.className.indexOf(' hover') == -1) {
                        this.className = this.className + ' hover';
                    }
                };
                a[i].onmouseout = function () {
                    this.className = this.className.replace(' hover', '');
                };
            }
        }

        $(function () {
            $('#read').click(function () {
                $.get('/comment/note', {'fun': 'read'}, function (data) {
                    window.location.reload()
                })
            });

            $('#me-comment').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');

                $.get('/comment/note', {'fun': "comment"}, function (data) {
                    $('#comment-table').html(data)
                })
            });

            $('#me-article').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "article"}, function (data) {
                    $('#comment-table').html(data)
                })
            });

            $('#notice').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "notice"}, function (data) {
                    $('#comment-table').html(data)
                })
            });
            $('#to_webmaster').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "to_webmaster"}, function (data) {
                    $('#comment-table').html(data)
                })
            });
            $('#unread').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "unread"}, function (data) {
                    $('#comment-table').html(data)
                })
            });
            $('#note').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "note"}, function (data) {
                    $('#comment-table').html(data)
                })
            });
             $('#profile').click(function () {
                $('.a').each(function () {
                    $(this).attr('class', '')
                });
                $(this).parent().attr('class', 'a');
                $.get('/comment/note', {'fun': "profile"}, function (data) {
                    $('#comment-table').html(data)
                })
            });
            $('a').each(function () {
                if ($(this).attr('class') == 'show') {
                    $(this).click(function () {
                        $(this).prev().toggle()
                    })
                }
                if ($(this).attr('name') == 'one-unread') {
                    $(this).click(function () {
                        if ($(this).parent().parent().prev().find('i')) {
                            $(this).parent().parent().prev().find('i').hide()
                        }
                        var number = $(this).attr('id');
                        $.get('/comment/note', {'fun': "one-unread", "id": number})
                    })
                }
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="wp" data-plugin="autoitem">
                <div id="wp" class="wp">
                    <div id="pt" class="bm cl">
                        <div>
                            <a href="/" title="首页"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-right"></i>通知
                            <a href="/"><i class="fa fa-angle-right"></i>消息</a>
                        </div>
                    </div>
                    <div id="ct" class="ct2_a wp cl">
                        <div class="mn">
                            <div class="bm bw0">
                                <ul class="tb cl">
                                    <li class="y" id="clear">
                                        <a href="javascript:;" id="read">
                                            <i class="fa fa-bell-slash-o" aria-hidden="true"></i> 标记已读</a>
                                    </li>
                                    <li class="a"><a href="javascript:;" id="note">公共消息</a></li>
                                    <li>
                                        {% get_unread_count user as count %}
                                        <a href="javascript:;" id="unread">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            {% if count %}未读消息(<font color="red">{{ count }}</font>)
                                            {% else %}未读消息
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li><a href="javascript:;" id="to_webmaster">私信博主</a></li>
                                </ul>
                                <div>
                                    {% include 'comment/block/note.html' %}
                                    <script type="text/javascript">addBlockLink();</script>
                                </div>
                            </div>
                        </div>
                        <div class="appl">
                            <div class="tbn">
                                <h2 class="mt bbda"><i class="fa fa-envelope" aria-hidden="true"></i> 通知</h2>
                                <ul>
                                    <li>
                                        <a href="javascript:;" id="profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i> 个人中心</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" id="me-comment"><i class="fa fa-comments" aria-hidden="true"></i> 我的评论</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" id="me-article"><i class="fa fa-pencil-square" aria-hidden="true"></i> 所有文章</a></li>
                                    <li>
                                        {% get_announcement_count as announcement_count%}
                                        <a href="javascript:;" id="notice"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                            公告 {% if announcement_count %}(
                                                <font color="red">{{ announcement_count }}</font>
                                            ){% endif %}
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

