{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load comment_tags oauth_tags blog_tags %}
{% block head_title %}个人信息推送{% endblock %}

{% block head %}
    <link type="text/css" href="{% static 'comment/css/style_1_common.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'comment/css/style_1_home_space.css' %}" rel="stylesheet">
    <link id="css_extstyle" type="text/css" href="{% static 'comment/css/comment.css' %}" rel="stylesheet">
    <script language="javascript" type="text/javascript">
            function addBlockLink() {
                if(!$('#deletepmform'))
                    return false;var a = $('dl');
                var taglist = {'A':1, 'INPUT':1, 'IMG':1};
                for(var i = 0, len = a.length; i < len; i++) {
                    a[i].onmouseover = function () {
                        if(this.className.indexOf(' hover') == -1) {
                            this.className = this.className + ' hover';
                        }};
                    a[i].onmouseout = function () {
                                this.className = this.className.replace(' hover', '');
                    };
                }
            }
            $(function () {
                $('#read').click(function () {
                    $.get('/comment/note',{'fun':'read'},function (data) {
                        window.location.reload()
                    })
                });

                $('#me-comment').click(function () {
                    $('.a').each(function(){$(this).attr('class','')});
                    $(this).parent().attr('class','a');

                    $.get('/comment/note', {'fun': "me-comment"},function (data) {
                        $('#comment-table').html(data)
                    })
                });

                $('#me-article').click(function () {
                    $('.a').each(function(){$(this).attr('class','')});
                    $(this).parent().attr('class','a');
                    $.get('/comment/note', {'fun': "me-article"},function (data) {
                        $('#comment-table').html(data)
                    })
                });

                $('#notice').click(function () {
                    $('.a').each(function(){$(this).attr('class','')});
                    $(this).parent().attr('class','a');
                    $.get('/comment/note', {'fun': "notice"},function (data) {
                        $('#comment-table').html(data)
                    })
                });
                $('#to_webmaster').click(function () {
                    $('.a').each(function(){$(this).attr('class','')});
                    $(this).parent().attr('class','a');
                    $.get('/comment/note', {'fun': "to_webmaster"},function (data) {
                        $('#comment-table').html(data)
                    })
                });
                $('#unread').click(function () {
                    $('.a').each(function(){$(this).attr('class','')});
                    $(this).parent().attr('class','a');
                    $.get('/comment/note', {'fun': "unread"},function (data) {
                        $('#comment-table').html(data)
                    })
                });
                $('a').each(function () {
                    if ($(this).attr('class') == 'show'){
                        $(this).click(function () {
                            $(this).prev().toggle()
                        })
                    }
                    if ($(this).attr('name') == 'one-unread'){
                        $(this).click(function () {
                            if ($(this).parent().parent().prev().find('i')){
                                $(this).parent().parent().prev().find('i').hide()
                            }
                            var number = $(this).attr('id');
                            $.get('/comment/note', {'fun': "one-unread", "id": number})
                        })
                    }
                })
            })
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="wp" data-plugin="autoitem">
                <div id="wp" class="wp">
                    <div id="pt" class="bm cl">
                        <div>
                            <a href="/" title="首页"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-right"></i>通知
                            <a href="/"><i class="fa fa-angle-right"></i>消息</a>
                        </div>
                    </div>
                    <div id="ct" class="ct2_a wp cl">
                        <div class="mn">
                            <div class="bm bw0">
                                <ul class="tb cl">
                                    <li class="y" id="clear">
                                        <a href="javascript:;" id="read"><i class="fa fa-bell-slash-o" aria-hidden="true"></i> 标记已读</a>
                                    </li>
                                    <li class="a" ><a href="{% url 'comment:note' %}">公共消息</a></li>
                                    <li>
                                        {% get_unread_count user as count%}
                                        <a href="javascript:;" id="unread">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            {% if count %}未读消息(<font color="red">{{ count }}</font>)
                                            {% else %}未读消息
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li><a href="javascript:;" id="to_webmaster">私信博主</a></li>
                                </ul>
                                <div>
                                <form id="deletepmform" method="post" autocomplete="off" name="deletepmform">
                                    <div class="xld xlda pml mtm mbm" id="comment-table">
                                        {% get_all_comments user as comments %}
                                        {% get_comment_user user as cuser %}
                                        {% for comment in comments %}
                                            <dl id="pmlist_2268797" class="bbda cur1 cl">
                                                    <dd class="m avt">
                                                        {% get_user_avatar_tag comment.author.nickname comment.author.email as user_info %}
                                                        <div class="newpm_avt" title="有未读消息"></div>
                                                            <a href="{{ user_info.me_link }}" target="_blank"><img src="/media/{{ user_info.me_avatar }}"></a>
                                                            {% ifnotequal comment.is_read 1 %}
                                                                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="color: red"></i>
                                                            {% endifnotequal %}
                                                    </dd>
                                                    <dd class="ptm pm_c">
                                                        {% if comment.belong.author == user and comment.parent == None and comment.author != cuser %}
                                                            <span class="xi2 xw1">
                                                                <a href="{{ user_info.me_link }}" target="_blank">{{ comment.author.nickname }}</a>
                                                            </span>
                                                                <i class="fa fa-share"></i>
                                                                <a href="{{ comment.belong.get_absolute_url }}">{{ comment.belong.title }}</a>
                                                            <br><br> {{ comment.expression_to_content | safe }} &nbsp;  <br><br>

                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <span class="xg1"><font color="#00a67c;">{{ comment.create_date|naturaltime }}</font></span> &nbsp;

                                                            <span class="pm_o y">
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-delete"><i class="fa fa-trash" aria-hidden="true" title="删除评论"></i></a> |
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-unread"><i class="fa fa-check-square" aria-hidden="true" title="标记为已读"></i></a> |
                                                                <a target="_blank" href="{{ comment.belong.get_absolute_url }}#comments">回复</a>
                                                            </span>

                                                        {% endif %}
                                                        {% if comment.parent.author == cuser %}
                                                            <span class="xi2 xw1">
                                                                <a href="{{ user_info.me_link }}" target="_blank">{{ comment.author.nickname }}</a>
                                                            </span>
                                                            {% confirm_user_webmaster comment.author.nickname comment.author.email as card %}
                                                                {% confirm_user_author comment.belong comment.parent as to_user %}
                                                                {% if card == "True" %}
                                                                    {{ card }}
                                                                    [<font color="red" size="3">站长</font>]
                                                                {% elif to_user == "True" %}
                                                                    [<font color="red" size="3">作者</font>]
                                                                {% endif %}
                                                            <i class="fa fa-share"></i>
                                                            <span class="xi2 xw1">您</span>
                                                            <br><br> {{ comment.expression_to_content | safe }} &nbsp;  <br>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <span class="xg1"><font color="#00a67c;">{{ comment.create_date|naturaltime }}</font></span> &nbsp;
                                                            <span class="pm_o y">
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-delete"><i class="fa fa-trash" aria-hidden="true" title="删除评论"></i></a> |
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-unread"><i class="fa fa-check-square" aria-hidden="true" title="标记为已读"></i></a> |
                                                                <a target="_blank" href="{{ comment.belong.get_absolute_url }}#comments">回复</a>
                                                            </span>
                                                        {% endif %}
                                                        {% if comment.author == cuser %}
                                                            <span class="xi2 xw1">
                                                                <a href="{{ user_info.me_link }}" target="_blank">您</a>
                                                            </span>
                                                                {% if comment.parent %}
                                                                    <i class="fa fa-share"></i> {{ comment.parent.author.nickname }}
                                                                    {% confirm_user_webmaster comment.parent.author.nickname comment.parent.author.email as card %}
                                                                    {% confirm_user_author comment.belong comment.parent as to_user %}
                                                                    {% if card == "True" %}
                                                                        [<font color="red" size="3">站长</font>]
                                                                    {% elif comment.belong.author == to_user %}
                                                                        [<font color="red" size="3">作者</font>]
                                                                    {% endif %}
                                                                {% elif comment.belong.author %}
                                                                        <i class="fa fa-share"></i>
                                                                        <a href="{{ comment.belong.get_absolute_url }}">
                                                                            {{ comment.belong.title }}</a> | {{ comment.belong.author.username }}
                                                                            [<font color="red" size="3">作者</font>]
                                                                {% endif %}
                                                            <br><br>{{ comment.expression_to_content | safe }} &nbsp;  <br>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <span class="xg1"><font color="#00a67c;">{{ comment.create_date|naturaltime }}</font></span> &nbsp;
                                                            <span class="pm_o y">
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-delete"><i class="fa fa-trash" aria-hidden="true" title="删除评论"></i></a> |
                                                                <a href="javascript:;" id="{{ comment.id }}" name="one-unread"><i class="fa fa-check-square" aria-hidden="true" title="标记为已读"></i></a> |
                                                                <a target="_blank" href="{{ comment.belong.get_absolute_url }}#comments">回复</a>
                                                            </span>
                                                        {% endif %}
                                                    </dd>
                                            </dl>
                                        {% endfor %}
                                    </div>
                                </form>
                                <script type="text/javascript">addBlockLink();</script>
                                </div>
                            </div>
                        </div>
                        <div class="appl">
                            <div class="tbn">
                                <h2 class="mt bbda"><i class="fa fa-envelope" aria-hidden="true"></i> 通知</h2>
                                <ul>
                                    <li>
                                        <a href="javascript:;" id="me-comment"><i class="fa fa-comments" aria-hidden="true"></i> 我的评论</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" id="me-article"><i class="fa fa-pencil-square" aria-hidden="true"></i> 我的文章</a></li>
                                    <li>
                                        {% get_announcement_count as announcement_count%}
                                        <a href="javascript:;" id="notice"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                            系统提醒 {% if announcement_count %}(
                                                <font color="red">{{ announcement_count }}</font>
                                            ){% endif %}
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

