@-webkit-keyframes anim-mpa-guide-hint-wave {
  0% {
    opacity: 0.8;
    width: 0px;
    height: 0px;
  }
  70% {
    opacity: 0;
    width: 40px;
    height: 40px;
  }
  71% {
    width: 0px;
    height: 0px;
  }
}
@keyframes anim-mpa-guide-hint-wave {
  0% {
    opacity: 0.8;
    width: 0px;
    height: 0px;
  }
  70% {
    opacity: 0;
    width: 40px;
    height: 40px;
  }
  71% {
    width: 0px;
    height: 0px;
  }
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 36px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 36px 0;
  }
  100% {
    background-position: 0 0;
  }
}
.s_form_wrapper {
  color: red;
}
html.mpa-no-scroll {
  overflow: hidden !important;
}
.mpa-view a {
  cursor: pointer;
}
.mpa-hide {
  display: none !important;
}
.mpa-center-align {
  text-align: center;
}
.mpa-btn {
  outline: none;
  cursor: pointer;
  padding: 0;
  min-width: 58px;
  height: 30px;
  line-height: 30px;
}
.mpa-btn-default {
  outline: none;
  cursor: pointer;
  padding: 0;
  min-width: 58px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 3px;
  border: none;
  border: 1px solid #cbcbd0;
  color: #333;
}
.mpa-btn-default:hover {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
.mpa-btn-primary {
  outline: none;
  cursor: pointer;
  padding: 0;
  min-width: 58px;
  height: 30px;
  line-height: 30px;
  background-color: #44b549;
  background-image: -webkit-linear-gradient(top, #44b549 0, #44b549 100%);
  background-image: linear-gradient(to bottom, #44b549 0, #44b549 100%);
  border-radius: 3px;
  border: none;
  border-color: #44b549;
  color: #fff;
}
.mpa-btn-primary:hover {
  background-color: #2f9833;
  background-image: -webkit-linear-gradient(top, #2f9833 0, #2f9833 100%);
  background-image: linear-gradient(to bottom, #2f9833 0, #2f9833 100%);
  border-color: #2f9833;
  color: #fff;
}
.mpa-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 90;
}
.mpa-dialog .inner {
  position: relative;
  margin: auto;
  margin-top: 20%;
  padding: 25px 35px 20px;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 316px;
}
.mpa-dialog .title {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.mpa-dialog footer {
  margin-top: 20px;
}
.mpa-sc {
  overflow: visible;
}
.mpa-rootsc {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999999999;
}
.mpa-switch {
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  display: -webkit-box;
  display: flex;
  padding: 1px;
}
.mpa-switch *,
.mpa-switch *:before,
.mpa-switch *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*transition*/
  -webkit-transition: box-shadow 0.2s ease-in-out 0ms, left 0.2s ease-in-out 0ms;
  transition: box-shadow 0.2s ease-in-out 0ms, left 0.2s ease-in-out 0ms;
  outline: none;
}
.mpa-switch.no-trans {
  opacity: 0.1;
}
.mpa-switch.no-trans *,
.mpa-switch.no-trans *:before,
.mpa-switch.no-trans *:after {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
}
.mpa-switch .toggle,
.mpa-switch .toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}
.mpa-switch .label {
  display: block;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 20px;
  /*border-radius*/
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer;
}
.mpa-switch .label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 18px;
  text-indent: 24px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  box-shadow: 0 0 0 1px rgba(179, 186, 186, 0.45);
}
.mpa-switch .toggle:checked + .label {
  box-shadow: inset 0 0 0 20px #24be48, 0 0 0 1px #24be48;
}
.mpa-switch .toggle:checked + .label:before {
  left: calc(100% - 20px);
  box-shadow: 0 0 0 1px rgba(47, 191, 204, 0.45);
}
.mpa-switch .label {
  box-shadow: inset 0 0 0 0px #24be48, 0 0 0 1px #dddddd;
}
.mpa-switch .toggle:checked + .label {
  box-shadow: inset 0 0 0 18px #24be48, 0 0 0 1px #24be48;
}
.appmsg-analysis-date-picker-wrap {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
}
.FotorFrame {
  position: fixed !important;
}
.image-delete-prompt {
  position: relative;
  left: -86px;
  top: -44px;
}
.image-delete-prompt div {
  background: #fc2323;
  color: #fff;
  position: absolute;
  font-size: 12px;
  width: 61px;
  height: 23px;
  line-height: 24px;
  text-align: center;
  top: -22px;
  left: 107px;
  border-radius: 3px;
}
.image-delete-prompt div b {
  position: absolute;
  top: 23px;
  left: 3px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #fc2323 transparent transparent transparent;
}
.mpa-total-dialog {
  z-index: 2147483647;
}
.mpa-total-dialog .inner {
  position: relative;
  padding: 32px;
  padding-bottom: 24px;
  border-radius: 4px;
  width: 399px;
  box-sizing: border-box;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mpa-total-dialog .inner .close {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.mpa-total-dialog .inner .title {
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  margin-bottom: 12px;
}
.mpa-total-dialog .inner .content {
  font-size: 14px;
  color: #353535;
  margin-bottom: 24px;
}
.mpa-total-dialog .inner .btn-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.mpa-total-dialog .inner .btn-box button {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #FFFFFF;
  margin-right: 8px;
}
.mpa-total-dialog .inner .btn-box .ready {
  background: #24BE48;
  color: #FFFFFF;
  border-color: #24BE48;
}
