{% extends 'base_right.html' %}
{% load blog_tags static comment_tags %}
{% block title %}{{ object.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="{{ object.summary }}"/>
{% endblock description %}
{% block keywords %}
    <meta name="keywords" content="{% get_article_keywords object %}"/>
{% endblock keywords %}
{% block head %}
    <script>
        $(function () {
            // 还原文章插图
            $("article").find('img').each(function () {
                var realWidth = this.width;     //获取图片真实宽度
                if (realWidth > 780) {
                    $(this).attr("width", '780');
                }
                $(this).click(function () {
                    var _this = $(this);
                    imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
                });
            });

            $("img").find('img').each(function () {
                $(this).click(function () {
                    var _this = $(this);//将当前的pimg元素作为_this传入函数
                    imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
                });
            });
            // 点击喜欢
            $('.muted').delegate("a[id='in_add_like']", "click", function () {
                if ($(this).hasClass("actived")) {
                    return alert("已经点过赞啦！")
                } else {
                    $(this).addClass("actived");
                    var z = $(this).data("id"), x = $(this).children(".count");
                    var article = z.split(',')[0];
                    var loves = z.split(',')[1];
                    loves = Number(loves) + 1;
                    x.html(loves);
                    $.ajax({
                        type: "POST",//方法类型
                        url: "/love/",//url
                        dataType: "JSON",
                        data: {"article": article, "loves": true},
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            })
            //点击赞赏
            var flag = true;
            $('#support').on('click', function () {
                if (flag) {
                    $('#sponsor-wx').addClass("show");
                    $('#sponsor-zfb').addClass("show");
                    flag = false
                } else {
                    $('#sponsor-wx').removeClass('show');
                    $('#sponsor-zfb').removeClass('show');
                    flag = true
                }
            })
        });

        function imgShow(outerdiv, innerdiv, bigimg, _this) {
            var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
            $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
            $("<img/>").attr("src", src).load(function () {
                var windowW = $(window).width();//获取当前窗口宽度
                var windowH = $(window).height();//获取当前窗口高度
                var realWidth = this.width;//获取图片真实宽度
                var realHeight = this.height;//获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                if (realHeight > windowH * scale) {//判断图片高度
                    imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度
                    if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                        imgWidth = windowW * scale;//再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度
                } else {//如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth);//以最终的宽度对图片缩放

                var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距
                $(innerdiv).css({"top": h, "left": w});//设置#innerdiv的top和left属性
                $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
            });
            $(outerdiv).click(function () {//再次点击淡出消失弹出层
                $(this).fadeOut("fast");
            });
        }
    </script>
{% endblock head %}
{% block body %}
    <div class="content-wrap">
        <div class="content">
            <div class="breadcrumbs">
                <a title="返回首页" href="/"><i class="fa fa-home"></i></a>
                <small>></small>
                <a href="/category/{{ object.category.bigcategory.slug }}">{{ object.category.bigcategory.name }}</a>
                <small>></small>
                <a href="/category/{{ object.category.bigcategory.slug }}/{{ object.category.name|lower }}">{{ object.category.name }}</a>
                <small>></small>
                <span class="muted">{{ object.title }}</span>
            </div>
            <header class="article-header">
                <h1 class="article-title"><a href="/article/{{ object.slug }}">{{ object.title }}</a></h1>
                <div class="meta">
                    <span id="mute-category" class="muted">
                        <i class="fa fa-list-alt"></i>
                        <a href="category/technique/{{ object.category.name|lower }}"> {{ object.category.name }}</a>
                    </span>
                    <span class="muted">
                        <i class="fa fa-user"></i>
                        <a href="/author/{{ object.author.name }}">{{ object.author }}</a>
                    </span>
                    <time class="muted"><i class="fa fa-clock-o"></i> {{ object.create_date|date:'y-m-d' }}</time>
                    <span class="muted"><i class="fa fa-eye"></i> {{ object.views }}浏览</span>
                    <span class="muted">
                        <a href="javascript:;" data-action="ding" data-id="{{ article.id }},{{ article.loves }}"
                           id="in_add_like">
                        <i class="fa fa-heart-o"></i>
                            <span class="count">{{ article.loves }}</span>喜欢</a>
                    </span>
                    <span class="muted">
                        <i class="fa fa-comments-o"></i>
                        <a href="/article/{{ object.slug }}#respond">{% get_comment_count article %}评论</a>
                    </span>
                    {% if article.author == user %}
                        <span class="muted">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <a href="{{ article.get_editor }}" target="_blank">编辑</a>
                    </span>
                    {% endif %}
                </div>
            </header>
            <article class="article-content">
                {{ article.body|safe }}
                <p>转载请注明：
                    <a href="{% url 'blog:article' object.slug %}">StormSha</a> &raquo;
                    <a href="{% url 'blog:article' object.slug %}">{{ object.title }}</a>
                </p>
                <!--文章插图还原-->
                <div id="outerdiv"
                     style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                    <div id="innerdiv" style="position:absolute;">
                        <img id="bigimg" style="border:5px solid #fff;" src=""/>
                    </div>
                </div>
            </article>
            <!--赞赏-->
            <div style="background:#fff;padding-bottom:20px;font-size:14px;">
                <div class="text-center">
                    <button class="btn btn-danger rounded-0" style="line-height: 1;font-size: .8rem;" id="support">
                        <i class="fa fa-cny"></i>
                        如果文章对你有所帮助，可以赞助本站
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <style>
                    .p-3 {
                        padding: 1rem !important;
                    }

                    .row {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                    }

                    .col {
                        -ms-flex-preferred-size: 0;
                        flex-basis: 0;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        max-width: 100%;
                    }

                    .text-success {
                        color: #28a745 !important;
                    }

                    .p-1 {
                        padding: .25rem !important;
                    }

                    .w-75 {
                        width: 75% !important;
                    }

                    img {
                        vertical-align: middle;
                        border-style: none;
                    }

                    .multi-collapse {
                        display: none;
                    }

                    .show {
                        display: block !important;
                    }
                </style>
                <div class="row p-3">
                    <div class="col text-center">
                        <div class="multi-collapse collapse" id="sponsor-wx" style="">
                            <div class="p-1 text-success">微信</div>
                            <img class="w-75" src="/static/images/reward_wx.png">
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="multi-collapse collapse" id="sponsor-zfb" style="">
                            <div class="p-1 text-primary">支付宝</div>
                            <img class="w-75" src="/static/images/reward_zfb.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <footer class="article-footer">
                    <!--文章标签-->
                    <div class="article-tags">
                        <i class="fa fa-tags"></i>
                        {% get_article_tag object.id as tags %}
                        {% for tag in tags %}..
                            <a href="{% url 'blog:tag' tag.slug %}" rel="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <!--文章标签结束-->
                </footer>
                <!--推荐文章-->
                <nav class="article-nav">
                    <span class="article-nav-prev">
                        <i class="fa fa-angle-double-left"></i>
                        {% get_article_previous object.id as article_previous %}
                        <a href="{% url 'blog:article'  article.get_pre.slug %}"
                           rel="prev">{{ article.get_pre.title }}</a>
                    </span>
                            <span class="article-nav-next">
                        {% get_article_next object.id as article_next %}
                        <a href="{% url 'blog:article'  article.get_next.slug %}"
                           rel="prev">{{ article.get_next.title }}</a>
                        <i class="fa fa-angle-double-right"></i>
                    </span>
                </nav>
                <div class="related_top">
                    <div class="related_posts">
                        <ul class="related_img">
                            {% get_category_article as  category_article %}
                            {% for article in category_article.article_4 %}
                                <li class="related_box">
                                    <a href="{% url 'blog:article' article.slug %}" title="{{ article.title }}"
                                       target="_blank">
                                        <img src="{{ article.img_link }}" alt="{{ article.title }}"/> <br><span
                                            class="r_title">{{ article.title }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="relates">
                            <ul>
                                {% for article in category_article.article_8 %}
                                    <li>
                                        <i class="fa fa-minus"></i>
                                        <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% include 'comment/comment.html' %}
            </div>
        </div>
    </div>
{% endblock body %}