{%extends 'base.html' %}
{% load blog_tags %}
{%block title%}静觅丨添加友链{%endblock title%}

{%block body%}
<div class="pagewrapper clearfix">
    <header class="pageheader clearfix">
        <h1 class="pull-left">
            <a href="https://cuiqingcai.com/link">申请友链</a>
        </h1>
        <div class="pull-right">
            <!-- 百度分享 -->
            <span class="action action-share bdsharebuttonbox">
                <i class="fa fa-share-alt"></i>
                分享 (<span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)
                <div class="action-popover">
                    <div class="popover top in">
                        <div class="arrow">
                        </div>
                        <div class="popover-content">
                            <a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="tencentweibo fa fa-tencent-weibo" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_renren fa fa-renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </header>
        <div class="article-content">
            <!-- link -->
            <div class="friend-link">
                <h2 style="text-align: center;">友链互添</h2>
                <h3 style="text-align: center;">友链互添标准</h3>
                <blockquote style="text-align: center; line-height: 25px;">
                    <p>贵站必须有二十篇以上技术类别原创文章</p>
                    <p>贵站如两个月没有更新本站则会取消友链</p>
                    <p>贵站如一个月无法访问本站则会取消友链</p>
                    <p>贵站如取消本站友链本站则取消贵站友链</p>
                    <p>贵站如有访问或地址更新请及时通知本站</p>
                </blockquote>
                <h3 class="icon-contact" style="text-align: center;">友链互添方式</h3>
                <div class="icon-contact" style="text-align: center;">本站名称：stormsha</div>
                <div class="icon-contact" style="text-align: center;">本站地址：<a href="http://stormsha.com">http://stormsha.com</a></div>
                <h4 class="icon-contact" style="text-align: center;">同步添加方式</h4>
                <div class="icon-contact" style="text-align: center;">1. 私信官方新浪微博 @<a href="https://weibo.com/u/5392727577" target="_blank">StormSha博客</a>，附上贵站名称及地址，如符合要求，我会与你取得联系并互相添加友链。</div>
                <div class="icon-contact" style="text-align: center;">2. 邮件至 stormsha@foxmail.com，附上贵站名称及地址，如符合要求，我会与你取得联系并互相添加友链。</div>
                <h4 class="icon-contact" style="text-align: center;">异步添加方式</h4>
                <div class="icon-contact" style="text-align: center;">1. 贵站添加本站友链后，在本页面或者给我留言页面留言，附上贵站名称及地址，我会回复评论，如贵站符合要求，添加贵站友链。</div>
            </div>
        <!-- end link -->
        </div>
</div>
{%endblock body%}