{%extends 'base.html' %}
{% load blog_tags %}
{% block title %}静觅丨项目合作{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
    {% endblock description %}
    {% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
    {% endblock keywords %}
{%block body%}
<div class="pagewrapper clearfix">
		<header class="pageheader clearfix">
			<h1 class="pull-left">
				<a href="https://cuiqingcai.com/project">项目合作</a>
			</h1>
			<div class="pull-right"><!-- 百度分享 -->
	            <span class="action action-share bdsharebuttonbox"><i class="fa fa-share-alt"></i>分享 (<span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)<div class="action-popover">
                    <div class="popover top in"><div class="arrow"></div>
                        <div class="popover-content">
                            <a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="tencentweibo fa fa-tencent-weibo" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_renren fa fa-renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a>
                        </div>
                    </div>
                </div>
                </span>
            </div>
		</header>
        <div class="article-content">
            <p>承接各种个人&amp;团队项目，范围包括但不限于爬虫、Web 开发、价格可谈，如有意向合作可以加我微信，并注明您的称呼+商务合作，谢谢！</p>
<p><img class="aligncenter wp-image-6395 size-medium" src="/static/images/个人微信.jpg" alt="" width="247" height="320" sizes="(max-width: 247px) 100vw, 247px" /></p>
        </div>
</div>
{%endblock body%}