{%extends 'base.html' %}
{% load blog_tags %}
{% block title %}渡丨项目合作{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
    {% endblock description %}
    {% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
    {% endblock keywords %}
{%block body%}
<div class="pagewrapper clearfix">
		<header class="pageheader clearfix">
			<h1 class="pull-left">
				<a href="https://cuiqingcai.com/project">技术分享</a>
			</h1>
		</header>
        <div class="article-content">
            <p>还没有文章</p>
        </div>
</div>
{%endblock body%}